nav {
  padding: 10px;
  margin: 10px;
  border: 1px;
  border-radius: 5px;
  background: rgb(238, 100, 12);
}

nav span {
  font-size: 35px;
  color: rgb(213, 238, 130);
  font-weight: bold;
  margin: 0 40px;
}

nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 0 30px;
}
